.header__container {
  display: flex;
  align-items: center;
  }
  
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--header-border);
    
  &__logo {
      margin-right: 88px;

      @media screen and (min-width: 1200px) {
        margin-right: 93px;
      }
  }
    
}
 